 

/* PC */
 
  .login{
    width: 450px;
    position: absolute;
    top: 35%;
    margin-left: 10%;
       
    background: rgb(236, 246, 247);
    border: 1px solid #dddfe2;
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
    }

    .login > input{
      border-radius: 8px;
      border: 2px solid #dddfe2;
      outline: none;
      color: #1d2129;
      margin: 0.5rem 0;
      padding: 0.5rem 0.75rem;
      width: 92%;
      font-size: 1rem;
       
  }

  .login > .button{

    background: #066969;
    border: 1px solid #1877f2;
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 8px;
    cursor: pointer;
}
  

/* Tablet */
@media screen and ( min-width: 768px ) and ( max-width: 1023 ){
     
    .login{
      width: 300px;
      position:absolute;
      top: 30%;
      margin-left: 5%;
      
      
    }
     
 } 


  
/* /////// */

/* Phone */
@media screen and ( max-width: 767px ) {

.login{

     margin-top: 10%;
     margin-left: 4%;
     margin-right: 0;
    
}

}