
/* Tablet */
@media screen and ( min-width: 600px ) {
     
    .Patientlogin{

      position:absolute;
      top: 30%;
      margin-left: 10%;
      
    }
     
 } 


 /* PC */
 @media screen and (min-width:800px)   {

   .Patientlogin{
    position: absolute;
     top: 35%;
     margin-left: 10%;
        
     }
     
   }
.Patientlogin{
    /* position: absolute;
    top: 50%;
    left: 60%; */
    width: 400px;
    background:  rgb(236, 246, 247);
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 /10%) ,0 8px 16px rgb(0 0 0 /10%);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
}

.Patientlogin > input{
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #1d2129;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 92%;
    font-size: 1rem;
}

.Patientlogin > .button{

    background: #1877f2;
    border: 1px solid #1877f2;
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}
/* ///////////////// */
/* Tablet */
@media screen and ( min-width: 600px ) {
     
  
   
   .myCard{
    margin-bottom: 2ch;
     padding: 1ch;
     top: 3ch;
    
     
   }
    
  .myBigcontainer{
    position:absolute ;
    top: 20%;
    width: 90%;
      display: grid;
      grid-template-columns: 1fr 1fr ;
       margin-left: 5%;
       row-gap: 15px;
   }

} 
/* PC */
@media screen and (min-width:800px)   {

   .myCard{
    row-gap:8px ;
   
     padding: 1ch;
     top: 6ch;
     margin-bottom: 2ch;
   }
    
   .ADDbtn{
     width:30%
   }
   .Delete{
     width: 28%;
   }
   .myBigcontainer{
   position:absolute ;
   top: 20%;
   width: 80%;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr ;
      margin-left: 10%;
  }
 }
  
 .myCard{
   
   width: 90%;
   height: 100%;
  border:rgb(13, 46, 46) solid;
  margin-left: 3ch;
  text-align: center;
  border-radius: 8px;
  background: rgba(159, 219, 219, 0.5);

 }
 .myCard >h3{
  padding-top: 2ch ;
   color: rgb(7, 58, 58);
   font-family: 'Times New Roman', Times, serif;
   font-size: 200%;

 }
 .myCard >h4{

  color:  rgba(10, 71, 71, 0.966);
   
  font-family: 'Times New Roman', Times, serif;
   
  font-size: 160%;
}
.myCard >h6{
  color:  rgb(8, 12, 12);
  font-family: 'Times New Roman', Times, serif;
   
  font-size: 150%;
  font-weight: bold;
}
 
 
.Delete{
  padding: 1ch;
  background: rgb(209, 72, 54);
  margin: 1ch;
  border-radius: 8px;
  /* border: rgb(235, 89, 31)solid; */
  color: rgb(9, 32, 32);
  font-family: 'Times New Roman', Times, serif;
  font-size: 100%;
  cursor: pointer;
  font-weight: bolder;
}